@import '../../styles/variables';

.container {
  background-color: var(--light-main-color);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dayOfWeek {
  color: var(--light-text-color);
  font: {
    size: 1.5rem;
    weight: 300;
  }
  margin-bottom: auto;
  text-transform: uppercase;
}
.dayOfMonth {
  color: var(--lighter-text-color);
  margin: auto 0;
  font: {
    size: 7rem;
    weight: 300;
  }
}
