@import '../../styles/variables';
@import '../../styles/templates';

.container {
  @extend %block;
  background-color: var(--light-main-color);
 
}

.dayOfWeek {
  @extend %header;
  font-weight: 300;
  color: var(--light-text-color);

  margin-bottom: auto;

}
.dayOfMonth {
  color: var(--lighter-text-color);
  margin: auto 0;
  font: {
    size: 7rem;
    weight: 300;
  }
}
