@font-face {
  font-family: 'RobotoCondensed';
  src: url('../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf')
    format('TrueType');
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url('../fonts/RobotoCondensed/RobotoCondensed-Bold.ttf')
    format('TrueType');
  font-weight: 700;
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url('../fonts/RobotoCondensed/RobotoCondensed-Light.ttf')
    format('TrueType');
  font-weight: 300;
}
