@import '../../styles/variables';
@import '../../styles/templates';
.container {
  @extend %block;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--light-bd-color);
}

.header {
  @extend %header;
  color: var(--main-color);
  font-weight: 700;
}

.monthWrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  // flex-flow: row nowrap;
}
.btn{
  flex-grow: 1;
  outline: none;
  border: none;
  color: var(--main-color);
  &:hover{
    box-shadow: 0px 0px 10px 1px var(--main-color);;
  }
  &:focus{
    box-shadow: 0px 0px 15px 1px var(--main-color) inset;
  }
}
.table {
  margin-top: 10px;

  td {
    
    $td-length: (($calendar-length - $calendar-padding * 2)/7)*0.9;
    height: $td-length;
    width: $td-length;
    text-align: center;
    line-height: $td-length;
    
    font-size: 0.8rem;
    font-weight: 700;
  }
}
.tableHead {
  color: var(--accent-color);
}
