@import '../../../../styles/variables';
.renderDay {
  color: var(--text-color);
  border: 2px solid transparent;
  border-radius: 50%;
}

.invisible {
  visibility: hidden;
}

.currentDay {
  color: var(--accent-color);
}

.checkedDay {
  display: block;
  border-color: var(--accent-color);
}
