@import '../../../../styles/variables';
.renderDay {
  color: var(--text-color);
  // font-weight: bold;
}

.invisible {
  visibility: hidden;
}

.currentDay {
  color: var(--accent-color);
}

.checkedDay {
  display: block;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
}
